body {
    background-color: #1D1E22;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 900px;
}

nav {
    float: right;
    margin: 0;
    text-align: center;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    display: block;
    list-style-type: none;
}

nav>ul>li>a {
    color: #C91F2F;
    display: block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 800;
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 30px;
    float: right;
}

nav>ul>li>a:hover {
    color: #1D1E22;
    background-color: #C91F2F;
    text-align: center;
    padding: 10px;
}

.logo {
    padding: 10px 20px 10px 20px;
    float: left;
    position: relative;
    margin: 0;
}

.logo:hover {
    border: 5px solid #C91F2F;
}

.menu {
    background: #1D1E22;
}

.intro>h1 {
    color: #0A69F5;
    text-decoration: none;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    width: 150px;
    height: 100px;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    margin: -50px -50px -50px -50px;
}

.intro:hover {
    color: #0A69F5;
    opacity: 0.5;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1D1E22;
    opacity: 0.5;
    color: white;
    text-align: center;
}

footer:hoover {
    opacity: 1.0;
}

.aboutme {
    color: white;
    text-decoration: none;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 25%;
    bottom: 50%;
    left: 25%;
    margin: -50px;
}

.aboutme:hover {
    border: 5px solid #C91F2F;
    opacity: 0.5;
}
